nav{
    height: 4vh;
    width: 100vw;
    display: flex;
    /* justify-content: space-around; */
    /* align-items: center; */
    min-height: 15vh;
    min-width: 100vw;
    background: rgb(33, 5, 124);
}

.nav-list {

    list-style: none;
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-list a{
    text-decoration: none;
    color: white;
    font-size: 1.4em;
    transition: 0.3s;
}
.nav-list a:hover{
    color: rgb(208, 228, 255);
    text-decoration: none;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.toggleButton{
    display: none;
}

@media only screen and (max-width: 500px ) {

    .toggleButton{
        display: block;
        position: sticky;
        margin-left: 1em;
    }

    .nav-list{
        display: none;
    }
}

