.slide-nav{
   display: none;
}

.nav-list2 {
   display: none;
}

@media only screen and (max-width: 750px ) {
.slide-nav{
    z-index: 25;
    font-size: 1.2em;
    display: inline-block;
    width: 50vw;
    height: 100vh;
    background-color: rgba(149, 121, 84, 0.849);
    /* border-right:4.5px solid rgb(98, 0, 0); */
  
    transition: 0.4s ease-in-out;
}

.slide-nav ul{
    z-index: 20;
    padding-top: 2em;
}
.slide-nav li{
    padding-top: 2em;
}

.slide-nav a:hover{
    display: inline-block;
    color: rgb(204, 204, 204);
}

.slide-nav-negative{
    font-size: 1.2em;
    margin-left: -50vw;
    display: block;
    width: 50vw;
    height: 100vh;
    background-color: rgba(179, 0, 0, 0);
    transition: 0.7s ease-in-out;
}

.slide-nav-negative ul{
    padding-top: 2em;
}
.slide-nav-negative li{  
    padding-top: 2em;
}

.nav-list2 {
    display: inline-block;
    list-style: none;
}

.nav-list2 a{ 
    text-decoration: none;
    color: white;
}


}