
.EconomicHistory{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
}
.inflation{
    width: 90%;
    background-color: rgb(233, 233, 233);
    border-radius: 1em;
    /* margin: 5em; */
}

.inflation2{
    width: 90%;
    background-color: rgb(233, 233, 233);
    color: black;
    margin-top: 1em;
}

#pruebas{
    background-color: rgb(163, 163, 163);
}