
.main{
    position: sticky;
    background-color: rgb(34, 31, 31);
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
h1{
    color: rgb(206, 206, 206);
    font-size: 2.5em;
    margin: 2em;
    padding: 0.3em;
    border-top:  3px solid rgb(206, 206, 206);
    border-bottom:  3px solid rgb(206, 206, 206);
}


.title{ 
    
    width: 45vw;
    height: 35vh;
    margin-top: 2em;
    /* width: 250px;
    height: 300px; */
    position: relative;
    cursor: pointer;
}                       
.title .content2{
    
    width: 100%;
    height: 100%;
    background-color: rgb(61, 57, 59);
    backdrop-filter: blur(12px);
    color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow:  0 0 30px rgba(0, 0, 0, 0.089);
    transition: all .4s;
}

.title .content2 p{
    font-size: 0.8em;
    text-align: center;
}

.title:hover .content2{
    color: #fff;
    background-color: rgba(61, 57, 59, 0.233);
}

.title::before,
.title::after{
    content:'';
    position: absolute;
    width: 100%;
    height: 50%;
    background: rgb(24, 79, 133);
    z-index: -20;
    transition: all .4s;
}



.title:before{
    top:0;
    right:0;
}
.title::after{
    bottom:0;
    left: 0;
    background: lightsteelblue;
}
.title:hover::before{
    width:3em;
    height:50px;
    transform: translate(20px, -20px);
    border-radius: 50%;
}
.title:hover::after{
    width: 100px;
    height: 100px;
    transform: translate(-20px,20px);
    border-radius: 50%;
}

/* ------------------------ */
.content2::after{
    content:'';
    position: absolute;
    width: 100%;
    height: 50%;
    background: rgba(133, 24, 124, 0);
    z-index: -20;
    transition: all .4s;
}

.content2:hover::after{
    width: 11em;
    height: 11em;
    background: rgb(133, 24, 124);
    /* transform: translate(-1em,1em); */
    border-radius: 50%;
    animation: content-animation 33s cubic-bezier(.43,.73,.41,.19);
}

@keyframes content-animation{
    0%{
        transform: rotateX(0);
        border-radius: 12% 88% 11% 89% / 89% 8% 92% 11% ;
    }
    10%{
        transform: rotateX(50);
        border-radius:75% 25% 23% 77% / 65% 23% 77% 35%  ;
    }
    20%{
        transform: rotateX(50);
        border-radius:75% 25% 73% 27% / 47% 73% 27% 53%  ;
    }
    30%{
        transform: rotateX(50);
        border-radius:11% 89% 14% 86% / 87% 13% 87% 13%  ;
    }
    40%{
        transform: rotateX(50);
        border-radius:80% 20% 77% 23% / 31% 45% 55% 69%  ;
    }
    50%{
        transform: rotateX(50);
        border-radius:83% 17% 28% 72% / 20% 21% 79% 80%  ;
    }
  
    60%{
        transform: rotateX(50);
        border-radius:80% 20% 77% 23% / 31% 45% 55% 69%  ;
    }
    70%{
        transform: rotateX(50);
        border-radius:11% 89% 14% 86% / 87% 13% 87% 13%  ;
    }
    80%{
        transform: rotateX(50);
        border-radius:75% 25% 73% 27% / 47% 73% 27% 53%   ;
    }
    90%{
        transform: rotateX(50);
        border-radius:75% 25% 23% 77% / 65% 23% 77% 35%  ;
    }
  
    100%{
        transform: rotateX(0);
        border-radius: 12% 88% 11% 89% / 89% 8% 92% 11%;
    }
}
/* ------------------- */