footer{
    padding-top: 2em;
    border-top: 1px solid #fff;
    width: 100%;
    height: 5em;
    background-color: rgb(34, 31, 31);
}

footer li{
    margin: 0.3em;
    justify-content: center;
    color: #fff;
    list-style:none;
    
}

li a{
    color: #fff;
    text-decoration:none;
}
li a:hover{
    color: rgb(128, 61, 253);
    text-decoration:none;
    border-bottom: 2px solid rgb(128, 61, 253);
}