
.App {
  text-align: center;
position: sticky;
}

body{
 
  background-color: rgb(60, 63, 63);
  /* background-color: rgb(255, 255, 255); */
  /* background: rgb(255,255,255);
  background: linear-gradient(126deg, rgba(255,255,255,1) 0%,
  rgba(198,255,250,1) 30%, rgba(199,255,221,1) 63%, rgba(183,214,255,1) 100%); */
}

.img{
  position: sticky;
  top: 0;
  z-index: 0;
  background-image:url("./header6.jpg") ; 
  background-size: cover;
  width: 100%;
  height: 40vh;
  /* z-index: 0; */
}

@media only screen and (max-width: 750px ) {
  .img{
    position: sticky;
    top: 0;
    z-index: 0;
    background-image:url("./header7.jpg") ; 
    background-size: cover;
    width: 100%;
    height: 40vh;
    /* z-index: 0; */
  }
}

